<%- include('header_admin'); -%>
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; min-height: 650px; height: 1200px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Admin</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="/admin" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="/admin/ql_order" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Đơn Hàng
            </a>
          </li>
          <li>
            <a href="/admin/ql_product" class="nav-link link-body-emphasis active">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Sản Phẩm
            </a>
          </li>
          <li>
            <a href="/admin/ql_user" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Khách Hàng
            </a>
          </li>
        </ul>
        <hr>
        <!-- <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> -->
      </div>
      <div class="d-flex flex-column col-lg-9">
        <div class="card" style="height: 1000px;">
            <div class="card-header">
                <h3 class="card-title ">Sửa sản phẩm</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <form action="/admin/updateProduct">
                <div class="modal-body modal-body__edit">
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Tên </label>
                        <input type="hidden" name="idEdit" value="<%= product_edit.id %>">
                        <input type="text" class="form-control" name="nameEdit" placeholder="Tên sản phẩm" value="<%= product_edit.ten_sp %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Giá</label>
                        <input type="text" class="form-control" name="priceMainEdit" placeholder="Giá sản phẩm" value="<%= product_edit.gia %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Sale</label>
                        <input type="text" class="form-control" name="priceSaleEdit" placeholder="Giá sale" value="<%= product_edit.giam_gia %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình ảnh</label>
                        <input type="file" name="imgEdit" class="col-form-label" id="" value="<%= product_edit.hinh %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Mô tả</label>
                        <textarea name="descriptionEdit" id="" cols="30" rows="5" style="width:100%; border:1px #CCC solid" class="col-form-label" value="<%= product_edit.mo_ta %>"><%= product_edit.mo_ta %></textarea>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" id="editItems" class="btn btn-primary" value="Cập nhật">
                </div>
            </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</body>
</html>

</div>

<div class="modal fade" id="modal-add" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm sản phẩm</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Tên sản phẩm" >
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="price" placeholder="Giá sản phẩm">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="price2" placeholder="Giá củ sản phẩm">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình ảnh</label>
                        <input type="file" name="img" class="col-form-label" id="">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Sản phẩm New</label>
                        <input type="checkbox" name="chknew" id="">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Sản phẩm Hot</label>
                        <input type="checkbox" name="chkhot" id="">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Mô tả</label>
                        <textarea name="mota" id="" cols="30" rows="5" style="width:100%; border:1px #CCC solid" class="col-form-label"></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="level" class="col-form-label">Chọn danh mục:</label>
                            <select class="form-control select2" name="level">
                                <option selected value="1">Dragon</option>
                                <option value="2">Anubis</option>
                                <option value="3">Space</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit"  class="btn btn-primary" name="add" value="Thêm mới" onclick="addItem(`${item.id}`)">
                    <button type="button"  id="closeModalButton" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </form>

        </div>
        <!-- /.modal-content -->
    </div>
</div>

<% if(typeof product_edit !== 'undefined') { %>
<div class="modal fade" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sửa sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- <form action="index.php?page=addProduct" method="POST"> -->
                <div class="modal-body modal-body__edit">
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Tên </label>
                        <input type="text" class="form-control" name="nameEdit" placeholder="Tên sản phẩm" value="<%= product_edit.ten_sp %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Giá</label>
                        <input type="text" class="form-control" name="priceMainEdit" placeholder="Giá sản phẩm" value="<%= product_edit.gia %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Sale</label>
                        <input type="text" class="form-control" name="priceSaleEdit" placeholder="Giá sale" value="<%= product_edit.giam_gia %>">
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình ảnh</label>
                        <input type="file" name="imgEdit" class="col-form-label" id="" value="<%= product_edit.hinh %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình thêm 2</label>
                        <input type="file" name="imgEdit2" class="col-form-label" id="" value="<%= product_edit.hinh2 %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình thêm 3</label>
                        <input type="file" name="imgEdit3" class="col-form-label" id="" value="<%= product_edit.hinh3 %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Hình thêm 4</label>
                        <input type="file" name="imgEdit4" class="col-form-label" id="" value="<%= product_edit.hinh4 %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="col-form-label">Mô tả</label>
                        <textarea name="descriptionEdit" id="" cols="30" rows="5" style="width:100%; border:1px #CCC solid" class="col-form-label" value="<%= product_edit.mo_ta %>"><%= product_edit.mo_ta %></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="level" class="col-form-label">Chọn danh mục:</label>
                            <select class="form-control select2" name="levelEdit" >
                                <option selected value="<%= product_edit.id_catalog %>">Balo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" class="btn btn-primary" name="edit" data-dismiss="modal" onclick="editItems(`${item.id}`)" value="Sửa">
                    <button type="button" class="btn btn-secondary" id="closeModalButton" data-dismiss="modal">Đóng</button>
                </div>
                
            <!-- </form> -->

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    <% } %>
</div>
<script>
    // document.getElementById('editItems').addEventListener('click', function() {
    //     event.preventDefault();
    //     submitProductForm();
    // });
</script>
<script>
// async function updateProduct(name, priceMain, priceSale, img, description) {
//     const connection = await mysql.createConnection({
//             host: 'localhost',
//             user: 'root',
//             password: '',
//             database: 'yame_store'
//         });

//         // Thực hiện câu lệnh SQL để cập nhật sản phẩm
//         const sql = `UPDATE sanpham 
//                      SET gia = ?, giam_gia = ?, hinh = ?, mo_ta = ?
//                      WHERE ten_sp = ?`;
//     try {

//         // Thực thi câu lệnh SQL
//         const [rows, fields] = await connection.execute(sql, [priceMain, priceSale, img, description, name]);

//         // Kiểm tra xem có bao nhiêu dòng đã được ảnh hưởng
//         if (rows.affectedRows > 0) {
//             console.log('Sản phẩm đã được cập nhật thành công!');
//         } else {
//             console.log('Không tìm thấy sản phẩm để cập nhật.');
//         }

//         // Đóng kết nối
//         await connection.end();
//     } catch (error) {
//         console.error('Lỗi khi cập nhật sản phẩm:', error);
//     }
// }

// // Gọi hàm để cập nhật sản phẩm

//     // Hàm để thêm hoặc sửa sản phẩm
// function submitProductForm() {
//     // Lấy các giá trị từ các trường trong form
//     var name = document.querySelector('input[name="nameEdit"]').value;
//     var priceMain = document.querySelector('input[name="priceMainEdit"]').value;
//     var priceSale = document.querySelector('input[name="priceSaleEdit"]').value;
//     var img = document.querySelector('input[name="imgEdit"]').value;
//     var description = document.querySelector('textarea[name="descriptionEdit"]').value;

//     updateProduct(name, priceMain, priceSale, img, description);
// }

</script>